{
  "presets": [ "es2015", "stage-0", "react"],
  "plugins": [
    ["import", { "style": "css", "libraryName": "antd-mobile" }]
  ],
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
