.demo-preview-item,
.am-tab-bar,
.am-tab-bar-content,
.am-tab-bar-tabpane {

}
.popup-list .am-list-body {
  height: 420px;
  overflow: auto;
}

.myCard {
  border-radius: 4px;
  border: white 1px solid ;
  background: white;
}
